body {
    
   background-color: rgb(184, 24, 24);
   color: rgb(4, 248, 98);
    text-align: center;
    font-size: larger;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    

}



h1 {
    letter-spacing: 3px;
}

input, select {
  width: 200px;
  height: 30px;
  border: 2px solid black;

}

.container-2 {
    margin-bottom: 5px;
}

select {
    width: 100px;
    margin-bottom: 10px;

}

span {
    color: white;
    font-size: 2em;
}

.meme {
    width: 600px;
    height: 400px;
}